* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: solid 1px #975BA6;
    display: flex;
    height: 500px;
    width: 800px;
}

.block {

    background: #CDD72B;
    border: 5px solid #975BA6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    flex-grow: 1;
}