* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: cyan;

    display: grid;
    grid-template-columns: 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;

   
    
}

.space {
    font-size: 30px;
    color: black;
    background-color: yellow;
}

/* .one {
    background: red;
}

.two {
    background: royalblue;

}

.three {
    background: deeppink;
}

.for {
    background: maroon;
}

.five {
    background: mediumaquamarine;
}

.six {
    background: lime;
}

.seven {
    background: yellow;
}

.eight {
    background: violet;
}

.nine {
    background: steelblue;
} */