* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: black;
    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;

    grid-template-areas: 
    
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;
}

.space {
    color: white;
    font-size: 30px;
}

header {
    background-color: rgb(201, 41, 73);
    grid-area: header;
}

main {
    background-color: rgb(28, 189, 28);
    grid-area: main;
}

aside {
    background-color: rgb(54, 54, 131);
    grid-area: aside;
}

footer {
    background-color: midnightblue;
    grid-area: footer;
}

nav {
    background-color: deepskyblue;
    grid-area: nav;
}